@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.login {
  width: 100vw;
  height: 100vh;
  display: flex;

  .login__left {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login__right {
    width: 50%;
    height: 100%;
    background-color: green;
    background-image: url("https://images.unsplash.com/photo-1708649290066-5f617003b93f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
  }

  .login__form {
    background-color: white;

    h2{
        margin-bottom: 20px;

    }
  }
  .button-container {
    display: flex;
    gap: 20px;
    button {
      padding: 20px 40px;
      align-items: center;
      display: flex;
      gap: 10px;
      border-radius: 10px;
      border: solid 2px lightgray;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
